@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* Import de la Font "Syne" depuis Google Fonts et on l'applique sur tout les éléménts de la page */
* {
    font-family: 'Syne', sans-serif;
}

/* Définition des couleurs redondantes en variables */
:root {
    --title1: #3B8E46;
    --title2: #D2776A;
    --text-color: #000000;
    --background-white: #FFFFFF;
    --background-sand: #ECE2DA;
    --button-base: #E0B9B4;

}
/* ----------------------------------------------- */
/* ------------------------------CSS de la page "HOME"------------------------------ */
body {
    margin: 0;
    padding: 0;
}

/* CSS du Header */
#wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-white);
    height: 80px;
}

.logo img {
    max-width: 200px;
    display: flex;
    align-self: center;
    padding-left: 30px;
}

.menu-planty .menu-ul {
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-planty .menu-ul li {
    display: inline;
    margin-right: 50px;
    
}

.menu-planty .menu-ul li:last-child {
    padding: 30px 60px;
    margin-right: 0;
    background-color: #DC9F96;
    font-weight: bold ;
}

.menu-planty .menu-ul li a {
    text-decoration: none;
    color: var(--text-color);
}

.menu-planty .menu-ul li.last a {
    color: white;
}
.menu-planty .menu-ul li:hover {
    font-size: 13px;
}

.menu-planty .menu-ul li.last:hover {
    background-color: #C02E44;
    font-size: 16px;
}

.menu-planty .menu-ul li:not(.last) a:hover {
    font-weight: bold;
    font-size: 13px;
}
/* ----------------------------------------------- */


/* CSS du Footer */
footer {
    background-color: var(--background);
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 18px;
}

.footer a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
}

/* ----------------------------------------------- */

.pas-de-border {
    border-radius: 0 0 0 0 !important;
}

/* CSS de l'image de la canette */
.canette-container {
    background-color: #ECE2DA;
    border-radius: 50% / 0% 0% 10% 10%;
    box-shadow: 0 10px 0 #DCD5CF;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

.feuille-gauche {
    position: absolute;
    top: 8.75rem;
    right: 50%;
    z-index: -2;
}

.feuille-droite {
    position: absolute;
    top: 8.75rem;
    left: 50%;
    z-index: -1;
}

.canette {
    margin: 0 auto;
}

/* ----------------------------------------------- */


/* CSS de la section "LES GOÛTS" */
.container.groupe-fruits {
    background-color: #E0B9B4;
}

.container-fruits {
    max-width: 100%;
}

.groupe-fruits {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    margin-left: 300px;
    margin-right: 300px;
}

.bouton-commander > .wp-block-button__link {
    background-color: #E0B9B4;
    width: 198px;
    font-size: 15px;
    padding: 20px 0 20px 0;
    margin: 0 auto;
} 


.bouton-commander:hover > .wp-block-button__link:hover {
    background-color: #C02E44;
}

.wp-container-16 {
    border-radius: 50% / 0% 0% 15% 15%;
}

/* ----------------------------------------------- */


/* CSS de la section "CE QU'ILS EN PENSENT" */
.container-photo-p {
    display: flex;
    justify-content: space-evenly !important;
}

.photo-p {
    padding-right: 20px;
}
/* ----------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */






/* ------------------------------CSS de la page "NOUS RENCONTRER"------------------------------ */
.wp-container-3 {
    border-radius: 50% / 0% 0% 22% 22%;
}

.titre-rencontrer {
    padding-top: 170px;
}
/* CSS de la section "ÉQUIPE" */
.equipe-container {
    display: flex;
    justify-content: space-evenly !important;
    width: 75%;
    margin: 0 auto;
}

.fleur-container {
    position: relative;
    display: flex;
    justify-content: start;
    width: 100%;
}

.fleur {
    position: absolute;
    width: 145.3px;
    height: 150.26px;
    right: 82%;
    top: 77px;
}

.feuille-container {
    position: relative;
    display: flex;
    justify-content: end;
    width: 100%;
}

.feuille {
    position: absolute;
    width: 191.21px;
    left: 82%;
    bottom: -110px;
}
/* ----------------------------------------------- */


/* CSS de la section "ÉQUIPE" */
.form-container {
    position: relative;
    z-index: 1;
    max-width: 389px;
}

.wpcf7-validates-as-required {
    border-radius: 7px;
    border: 1px solid #ECE2DA !important;
    width: 383px;
    height: 71px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.wpcf7-validates-as-required:focus-visible {
    outline: 0;
}

.wpcf7-textarea {
    border-radius: 8px;
    border: 1px solid #ECE2DA !important;
    width: 383px;
    height: 237px;
    resize: none;
}

.envoyer {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px #ECE2DA ;
    background-color: #E0B9B4;
    width: 198px;
    font-size: 15px;
    color: #FFFFFF;
    padding: 20px 0 20px 0;
}

.envoyer:hover {
    background-color: #C02E44;
}

.plante {
    position: absolute;
    z-index: -1;
    width: 147.32px;
    top: 180px;
    left: -70px;
}

/* ----------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */






/* ------------------------------CSS de la page "COMMANDER"------------------------------ */
.page-id-13 {
    color: #FFFFFF;
}

.separateur {
    color: #FFFFFF;
    border: 1px solid;
}

.stp {
    width: 860px;
}

.votre-commande-container {
    border-top: 1px solid #FFFFFF;
    width: 860px;
    margin: 0 auto;
}

/* CSS de la <section> COMPTEUR-BOUTONS */

.compteur-boutons {
    width: 860px;
    margin: 0 auto;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 25px;
}

.container-fruits-commander {
    display: flex;
    gap: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container-fruits-commander img {
    width: 196px;
}

.quatre-boutons {
    display: flex;
    gap: 11px;
    padding-bottom: 10px;
}

.gauche {
    display: flex;
}

.compteur {
    font-family: 'Inter';
    width: 51px;
    height: 58px; 
    border-radius: 8px 0 0 8px;
    font-size: 16px;
    border: 0;
}

.compteur::placeholder {
    text-align: center;
}

.compteur:focus-visible {
    outline: 0;
}

.plusmoins {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.moins, .plus {
    cursor: pointer;
}

.plus button {
    width: 31px;
    height: 30px;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    border-radius: 0 5px 0 0;
    background: #DC9F96;
    color: #FFFFFF;
}

.plus button:hover {
    background-color: #C02E44;
    cursor: pointer;
    font-size: 25px;
}

.moins button {
    width: 31px;
    height: 30px;
    border: 0;
    border-radius: 0 0 5px 0;
    background: #DC9F96;
    color: #FFFFFF;
}

.moins button:hover {
    background-color: #C02E44;
    cursor: pointer;
    font-size: 20px;
}

.ok {
    width: 99px;
    height: 60px;
    border-radius: 5px;
    border: 0;
    background-color: #E0B9B4;
    color: #FFFFFF
    ;
}

.ok:hover {
    background-color: #C02E44;
    cursor: pointer;
}


/* CSS de la <section> FORMULAIRE */

.formulaire {
    width: 860px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.label-titre {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px;
}

.label-soustitre {
    font-size: 20px;
    font-weight: 400;
    position: relative;
}

.bordure {
    display: flex;
    border-right: 1px solid #FFFFFF;
    padding-right: 42px;
    flex-direction: column;
}

.bordure-form {
    display: flex;
    padding-left: 42px;
    flex-direction: column;
}
/* ----------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */






/* ------------------------------CSS de la responsive------------------------------ */
@media screen and (max-width:992px) {
        .groupe-fruits {
            display: grid; 
            grid-template-columns: none; 
            margin: auto 0;
        }

        .photo-p {
            width: 100px;
        }
    }


@media screen and (max-width:768px) {
        .menu-planty .menu-ul li:last-child {
            padding: 30px 30px;
        }

        .container-photo-p {
            flex-direction: column;
            gap: 50px
        }

        .fleur,.feuille {
            display: none;
        }

        .votre-commande-container {
            display: flex;
            justify-content: center;
            width: auto;
        }

        .compteur-boutons {
            width: auto !important;
        }

        .container-fruits-commander {
            flex-direction: column;
            align-items: center;
        }

        .container-fruits-commander img {
            width: auto;
        }

        .card {
            gap: 8px;
        }

        .quatre-boutons {
            justify-content: space-between;
        }

        .ok {
            width: 200px;
            height: 60px;
        }

        .plusmoins {
            flex-direction: row;
        }

        .plus button {
            width: 60px;
            height: 60px;
            border-bottom: 0;
            border-right: 1px solid #FFFFFF;
            border-radius: 0 0 0 0;
        }

        .moins button {
            width: 60px;
            height: 60px;
            border-radius: 0 5px 5px 0;
        }

        .label-titre {
            display: flex;
            justify-content: center;
        }

        .formulaire {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: auto;
        }

        .bordure {
            border-right: 0;
            padding-right: 0;
            padding-bottom: 40px;
        }

        .bordure-form {
        padding-left: 0;  
        }

        .label-soustitre {
            display: flex;
            flex-direction: column;
            position: relative;
        }
    }

@media screen and (max-width:690px) {
        .logo img {
            max-width: 150px;
            padding-left: 10px;
        }

        .menu-planty .menu-ul li {
            margin-right: 10px;
        }

        .menu-planty .menu-ul li:last-child {
            padding: 30px 10px;
        }
}

@media screen and (max-width:576px) {
        .titre-rencontrer {
            padding-top: 70px;
        }

        .feuille-droite,.feuille-gauche {
            display: none;
        }

        .container-photo-p {
            flex-direction: column;
        }
}

@media screen and (max-width:500px) {
        .logo img {
            max-width: 100px;
            padding-left: 10px;
        }
}